# dhcpd config file
# default is to server request on all interfaces inside NAT

option  domain-name "{{ domain }}";

{% for int in dhcpd_if %}

subnet {{ LAN_params[int].subnet }} netmask {{ LAN_params[int].netmask }} {
    option routers {{ LAN_params[int].gateway }};
    option  domain-name-servers {{ LAN_params[int].gateway }}, 8.8.8.8;
    range {{ LAN_params[int].dhcp_range_low }} {{ LAN_params[int].dhcp_range_high }};
}


{% endfor %}
